requests
numpy
pandas
pandasql
scipy
scikit-learn
statsmodels
matplotlib
seaborn
plotly
jupyterlab
ipykernel
pyarrow
openpyxl
xgboost
lightgbm
catboost
prophet
optuna
imbalanced-learn
mlxtend
polars
duckdb
fastparquet